@import "pure-min.css";
@import "menu.css";
@import "http://fonts.googleapis.com/css?family=Playfair+Display:700,400,400italic";
@import "http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic";
@import "http://fonts.googleapis.com/css?family=Lato:100,300,400,700";
@import "http://fonts.googleapis.com/css?family=Roboto:100";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #999;
}

body {
    font-family: Lato;
}
a:hover,
a:focus {
    text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    -webkit-transition: opacity 2s ease;

    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    background: url(images/lighthouse.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}
.page .sidebar {
    background: transparent;
    color: #222;
}
.page .menu-part {
    border-color: #999;
}
.page .nav-item a {
    color: #999;
}
.page .post-title {
    font-weight: bold;
}
.page .post-description {
    color: #222;
}

.header {
    margin: 2em;
    height: 95%;
    margin-top: 3em;
    width: 80%;
}
.menu-part {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    float: right;
    font-family: 'Playfair Display';
    font-weight: bold;
    text-transform: none; 
    margin-right: 16px;
    font-family: Lato;
    text-transform: uppercase; 
    font-weight: 300;
    line-height: 0.9em;
    opacity: 0.8;
    width: 110px;
    text-align: right;
}

.brand-tagline {
    font-family: Lato;
    font-size: 100%;
    font-weight: 100;
    color: rgb(142, 142, 214);
}

.nav-list {
    margin: 0;
    margin-left: 1em;
    font-family: Lato;
    padding: 0;
    list-style: none;
}
.nav-item {
    zoom: 1;
}
.nav-item a {
    background: transparent;
    margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    color: #fff;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 3em 0;
}

.post {
    padding-right: 2em;
}
.page .post {
    padding-right: 0;
}
.post-title {
    font-size: 2em;
    color: #000;
    font-family: 'Playfair Display';
    font-family: Lato;
    font-weight: 300;
    margin-bottom: 0.2em;
    color: #444;
}
.post-title a {
    color: #444;
}

.post-title a:hover {
    color: #000;
    text-decoration: none;
}

.avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.page-meta-wrap {
    color: #444;
    font-size: 0.9em;
    font-size: small;
}

div.name {
    color: #666;
    font-size: 1.5em;
    font-weight: bold;
}
.page-meta-wrap {
    border-top: 1px solid #aaa;
    padding-top: 1em;
    text-align: right;
}
.page-meta-wrap .avatar {
    float: none;
}

.post-description {
    font-family: 'Gentium Book Basic';
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    line-height: 24px;
}
.page-meta-wrap {
    margin-top: 2em;
}
.post-description p:first-child {
    margin-top: 0.5em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    font-family: Lato;
    margin: 0;
}

.post-category {
}
/*
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }
    */

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
.real-menu {
    position: absolute;
    display: none;
    left: 80%;
    margin-top: -1em;
}

@media (max-width: 900px) {
    .sidebar {
        width: 100%;
        background-position: 0 0;
        background-size: cover;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
    .brand-title {
        font-size: 32px;
        width: 100%;
        text-align: center;
    }
    .nav-list {
        margin-left: 0;
    }
    .nav-list li {
        display: inline;
        padding-right: 1em;
    }
    .menu-part {
        border: none;
    }
    .nav-item a:hover,
    .nav-item a:focus {
        color: #000;
    }

}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}


/* New styles */
.imgpost
{
height:170px;
width:300px;
cursor:pointer;

}

.post-cover
{
position:absolute;
padding:10px;
height:170px;
width:300px;


}

.imgpost .caption
{
position:absolute;
margin:10px;
padding-left:6px;
box-shadow:0px 0px 10px rgba(0,0,0,0.7);
height:150px;
width:280px;
opacity:0;
background-color:rgba(0,0,0,0.7);
webkit-transition:opacity 0.3s ease-in-out;
transition:opacity 0.3s ease-in-out;

}

.imgpost  .border
{
position:absolute;
margin:10px;
padding-left:6px;
border:solid 1px rgba(0,0,0,0.2);
box-shadow:0px 0px 3px rgba(0,0,0,0.3);
height:150px;
width:280px;


}

.imgpost:hover .caption
{
opacity:1;
}

.caption-title
{
font-size: 38px;
color: #EEE;
font-family: 'Playfair Display';
font-family: Lato;
font-weight: 300;
color: #fff;
}

.caption-text
{
color: #BBB;
font-size: 90%;
font-family: Lato;
margin: 0;
}

.avatar
{
position: absolute;
right: -10px;
bottom: -10px;
}
